UL
{ 
	list-style-image: url('sumbul1a.gif');
}
UL UL
{
	list-style-image: url('sumbul2a.gif');
}
UL UL UL
{
	list-style-image: url('sumbul3a.gif');
}a:link
{
	color: rgb(255,255,255);
}
a:visited
{
	color: #9933CC;
}
a:active
{
	color: #FFCC00;
}
body
{
	color: #FFFFFF;
	background-color: rgb(0,0,0);
}
h1
{
	color: #FF0000;
}
h2
{
	color: #FFFFFF;
}
h3
{
	color: #6666FF;
}
h4
{
	color: rgb(255,255,255);
}
h5
{
	color: rgb(255,0,0);
}
h6
{
	color: rgb(255,255,0);
}
HR
{
	color: #FF0000;
}
BUTTON 
{
	background-color: rgb(0,0,102);	
	border-color: rgb(204,204,255);
	color: white;
}
LABEL
{
	color: #CCFF00;
}
TEXTAREA
{
	color: red;
}
FIELDSET
{
	border-color: rgb(102,102,153);
	color: blue;
}
LEGEND
{
	color: #00FFCC;
}
SELECT
{
	border-color: rgb(102,102,153);
	color: green;
}
TABLE
{
	table-border-color-light: rgb(204,204,255);
	table-border-color-dark: rgb(102,102,153);
	border-color: rgb(102,102,153);
	color: #FF0000;
}
CAPTION 
{
	color: #66FF99;
}
TH
{
	color: #009900;
	border-color: rgb(102,102,153);
}
TD
{
	border-color: rgb(102,102,153);
}
body
{
	font-family: Verdana, Arial, Helvetica;
}
h1
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 24pt;
}
h2
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 18pt;
}
h3
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 14pt;
}
h4
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
}
h5
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 10pt;
}
h6
{
	font-family: Verdana, Arial, Helvetica;
	font-weight: normal;
	font-style: normal;
	font-size: 8pt;
}
BUTTON 
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	font-style: normal; 
}
LABEL, .MSTHEME-LABEL
{
	font-size: 8pt;
	font-family: Arial, Helvetica;
	font-style: normal; 
}
TEXTAREA
{
	font-size: 8pt;
	font-family: Arial, Helvetica;
	font-style: normal 
; background-color: #000000; border: rgb(102,102,153); border-style: solid
}
FIELDSET
{
	border-style: solid;
	border-width: 1pt;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	font-style: normal; 
}
LEGEND
{
	font-size: 8pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: Normal; 
}
SELECT
{
	border-style: solid;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	font-style: normal 
}
TABLE
{
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
CAPTION 
{
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica;
	font-style: Normal; 
}
TH
{
	font-family: Verdana, Arial, Helvetica;
	font-style: normal; 
}
MARQUEE
{
	font-size: 14pt;
	font-family: Verdana, Arial, Helvetica;
}

.ms-formlabel {
   text-align: left;
   font-family:  Verdana, sans-serif;  
   font-size:  8pt;
   font-weight: normal;
   color: #3333CC;
}
.ms-formdescription a {
   color: #3333cc;
   text-decoration: underline;
}
.ms-formbody {
   text-align: left;
   font-family: Verdana, sans-serif;  
   font-size: 8pt;
   color: #3333CC;
}
.ms-formdescription {
   font-family: Verdana, sans-serif;  
   font-size: 8pt;
   color: #3333CC;
}
.ms-radiotext {
   cursor:default;
   text-align: left;
   font-family: Arial, sans-serif;
   font-size: 10pt;
   height: 19px;
}
.ms-searchbox {
   width: 100%;
}
.ms-input {
   font-size:    8pt;
   font-family:  Arial, sans-serif;
   vertical-align: baseline;
}
.ms-long {
   font-size:    8pt;
   font-family:  Arial, sans-serif;
   width:        300px;
}
.ms-descriptiontext {
   color: #3366CC;
   font-family: Verdana, sans-serif;  
   font-size: 8pt;
}
.ms-descriptiontext a {
   color: #3333cc;
   font-family: Verdana, sans-serif;  
   font-size: 8pt;
}
.ms-sectionheader{
   color: #666666;
   font-family: Verdana, sans-serif;  
   font-size: 10pt;
   font-weight: bold;
}
.ms-sectionline
{
   background-color: #993366;
   height:  1px;
}
.ms-propertysheet {
   font-family: Verdana, sans-serif;  
   font-size: 8pt;   
}
.ms-propertysheet th {
   font-family: Verdana, sans-serif;  
   font-size: 8pt;
   color: #666666;
   font-weight: normal;
}   
.ms-propertysheet a {
   text-decoration: none;
   color: #3333cc;
}
.ms-propertysheet a:visited {
   text-decoration: none;
   color: #666666; 
}
.ms-propertysheet a:visited:hover {
   text-decoration: underline;
}
.ms-itemheader a {
   font-size: 10pt;
   font-family: Verdana, sans-serif;  
   font-weight: normal;
   color: #3333cc;
   text-decoration: none;
}
.ms-itemheader a:visited {
   text-decoration: none;
   color: #666666;
}
.ms-itemheader a:visited:hover {
   text-decoration: underline;
}
.ms-discussiontitle {
   font-size:   10pt;
   font-family: Verdana, sans-serif;  
   color: #3333CC;
   font-weight: bold;
}
.ms-vb A:visited:hover {
   text-decoration: underline;
}
.ms-homepagetitle {
   font-family: Verdana, sans-serif;  
   font-size: 10pt;
   color: #666666;
   font-weight: bold;
   text-decoration: none;
}
:hover.ms-homepagetitle {
   text-decoration: underline;
   color: #666666;
}
marquee
 { 
	color: #FF0000;
 } .MSTHEME-LABEL
 { 
	color: #FF0000;
; background-color: #000000 } 